* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0 !important;
  text-align: center;
  font-family: var(--font-poppins);
}

body.light {
  background-color: #ffffff;
  color: #32333c;
  transition: background 0.3s ease; /* Para ficar suave */
}

body.dark {
  background-color: #252525;
  color: #ffffff;
  transition: background 0.3s ease;
}