.barraFixa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-flow: row nowrap;
    gap: 20px;
    padding: 40px 20px;
    width: 100vw;
    height: 10vh;

}

.icone{
    transition: transform 0.3s ease;
    border: 1px gold solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.logo{
    width: 50px;
    height: 35px;
}

.modo{
    background: none;
    border: none;
    cursor: pointer;
}